$primary: #ffffff;
$secondary: #000000;
$text: #00000000;
$fill: #F2F5F9;
$border: #E5E5E5;
$danger: #cc2000;
$placeholder: #c4c4c4;
$coolBlue: #0d6efd;
$white: white;
$success: #28a745;
$gray: #808080;
$warning: #faa703;


$primary-font: "Poppins", sans-serif;
$title-font: "Poppins", sans-serif;