$primary: #ffffff;
$secondary: #000000;
$text: #00000000;
$fill: #f2f5f9;
$border: #e5e5e5;
$danger: #cc2000;
$placeholder: #c4c4c4;
$coolBlue: #0d6efd;
$white: white;
$success: #28a745;
$gray: #808080;
$warning: #faa703;
$customBlue: #2effff9f;
$customBlack: #00000000;

$primary-font: "Poppins", sans-serif;
$title-font: "Poppins", sans-serif;
